@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Party!</title>
</head>
<body>
    <div>
        <div align="center">
            <h1>Ребзя, собираемся на поПАТИ!.</h1>
            <h2>
                <img src="Picture.PNG" />
            </h2>
            <h3>
                <a class="btn btn-primary" asp-action="RsvpForm">ЗАПИСАТЬСЯ НА ПАТИ</a>
            </h3>
        </div>
    </div>
</body>
</html>
